.header-nav-buyPC {
    width: 100%;
    height: 44px;
    background-color: #000000CC;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    /* z-index: 9999; */
    position: relative;
}

.container-body-iphone12ProPC {
    /* margin-top: 44px; */
    width: 100%;
}

.container-bag {
    display: block;
}

.container-bag.off {
    display: none;
}


/* .container-fluid {
    margin: auto;
} */

#parent-count {
    position: relative;
}

.count-sanpham.off {
    display: none;
}

.count-sanpham {
    position: absolute;
    display: block;
    width: 16px;
    top: 16px;
    height: 16px;
    background-color: red;
    font-size: 12px;
    line-height: 17px;
    /* text-align: center; */
    color: #fff;
}

.title-name-productPC {
    display: flex;
    justify-content: center;
    padding: 0 70px;
    position: fixed;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #d6d6d6;
    border-top: 1px solid #d6d6d6;
    background-color: hsla(0, 0%, 100%, .72);
    top: 44px;
}

.price-iphonePC {
    margin-left: 345px;
    line-height: 47px;
    font-size: 15px;
}

.name-iphonePC>h3 {
    font-size: 20px;
    line-height: 47px;
}

.detail-iphone12proPC {
    display: flex;
    justify-content: center;
}

.content-detail-iphone12proPC {
    padding-top: 40px;
    padding-left: 96px;
}

.detail-img-iphone12proPC>img {
    width: 400px;
    /* position: fixed;
    margin-left: -162px; */
}

.detail-iphone12proPC {
    margin-top: 70px;
}

.status-detail-newPC {
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
    color: #BF4800;
}

.content-detail-ip12pr-namePC {
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0;
    padding-bottom: 11px;
}

.container-btn-buy-ipPC {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}


/* .detail-btn-buy-ipPC {

} */

.content-detail-title-selPC>p {
    font-size: 26px;
    line-height: 1.47059;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: SF Pro Text, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0 20px 13px 20px;
    color: red;
}

.content-detail-choose-ipPC {
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: SF Pro Text, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 600;
}

.content-detail-question-ipPC>a {
    font-size: 12px;
    color: #06c;
    text-decoration: none;
    margin: 0 0 12px 12px;
}

.content-detail-btn-choose-ip12PC {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 412px;
    height: 90px;
    border: 1px solid #d2d2d7;
    cursor: pointer;
    border-radius: 14px;
    margin-bottom: 12px;
}

.content-detail-btn-choose-ip12prPC {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 412px;
    height: 90px;
    border: 1px solid #d2d2d7;
    cursor: pointer;
    border-radius: 14px;
    margin-bottom: 12px;
}

.name-detail-choose-ipPC {
    display: flex;
    justify-content: space-between;
    padding: 0 14px;
}

.btn-name-ipPC {
    font-size: 17px;
    padding-right: 95px;
    /* width: -webkit-fill-available; */
}

.content-detail-btn-choose-ipPC:hover {
    border: 1px solid #0071e3;
}

.content-detail-ip12pr-namePC {
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0;
}

.content-detail-btn-color-boxPC {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    height: 100px;
    border: 1px solid #d2d2d7;
    justify-content: center;
    border-radius: 12px;
    margin: 20px 0 0 20px;
    cursor: pointer;
}

.content-detail-img-colorPC>img {
    width: 32px;
    height: 32px;
}

.content-detail-img-namePC {
    font-size: 12px;
    margin-top: 12px;
}

.content-detail-img-colorPC>img {
    border: none;
}

.content-detail-btn-color-ipPC {
    display: flex;
}

.content-detail-last-stepPC {
    font-size: 18px;
    font-weight: 600;
}

.detail-delivery-producPC {
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
}

.detail-shipPC {
    text-align: center;
}

.chat-content-producPC {
    display: flex;
    justify-content: center;
}

.chat-questionPC {
    margin-left: 12px;
    line-height: 18px;
}

.link-chat-questionPC>a {
    font-size: 14px;
    text-decoration: none;
    color: royalblue;
    /* line-height: 8px; */
}

.link-chat-questionPC>a:hover {
    text-decoration: underline;
}

#color-product-GraphitePC {
    border: 1px solid royalblue;
}


/* style BTN BUY  */

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.btn-3 {
    background: royalblue;
    background: linear-gradient(0deg, rgba(0, 172, 238, 1) 0%, rgba(2, 126, 251, 1) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
}

.btn-3 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.btn-3:before,
.btn-3:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: rgba(2, 126, 251, 1);
    transition: all 0.3s ease;
}

.btn-3:before {
    height: 0%;
    width: 2px;
}

.btn-3:after {
    width: 0%;
    height: 2px;
}

.btn-3:hover {
    background: transparent;
    box-shadow: none;
}

.btn-3:hover:before {
    height: 100%;
}

.btn-3:hover:after {
    width: 100%;
}

.btn-3 span:hover {
    color: rgba(2, 126, 251, 1);
}

.btn-3 span:before,
.btn-3 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: rgba(2, 126, 251, 1);
    transition: all 0.3s ease;
}

.btn-3 span:before {
    width: 2px;
    height: 0%;
}

.btn-3 span:after {
    width: 0%;
    height: 2px;
}

.btn-3 span:hover:before {
    height: 100%;
}

.btn-3 span:hover:after {
    width: 100%;
}

.frame {
    display: flex;
    justify-content: center;
}


/* END STYLE BTN */