.body-ios15 {
    width: 100%;
    background-color: #f5f5f7;
    height: 500px;
}

.contentiOS15 {
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 44px;
    background: linear-gradient( 180deg, #f5f5f7, white 90%);
    position: relative;
    width: 100%;
}

.tt-name {
    text-align: center;
    font-size: 80px;
    line-height: 1.05;
    font-weight: 600;
    letter-spacing: -0.015em;
}

.des-name {
    width: 860px;
    font-size: 28px;
    margin-top: 20px;
}

.body-ios15 {
    width: 100%;
    height: 3164px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.facetime {
    width: 1217px;
    margin-top: 70px;
}

.ft-ct {
    color: #f63e54;
    margin-top: 50px;
    font-size: 56px;
    line-height: 1.0714285714;
    font-weight: 600;
    letter-spacing: -0.005em;
}

.tt-ft-hd {
    margin-top: 30px;
    width: 760px;
    font-size: 24px;
    line-height: 1.3334133333;
    font-weight: 600;
    letter-spacing: -1px;
}

.tt-ft-hd1 {
    font-size: 72px;
    line-height: 1.0555555556;
    font-weight: 600;
    letter-spacing: -3px;
}

.detail-facetime {
    background-color: #ffffff;
    position: relative;
    height: 800px;
    padding: 38px;
    border-radius: 48px;
    margin-top: 40px;
}

.tt-detal-ft {
    width: 560px;
}

.img-ft {
    height: 577px;
}

.intro-dt {
    font-size: 21px;
    line-height: 1.1904761905;
    font-weight: 600;
    color: #f63e54;
}

.keepft {
    font-size: 19px;
    line-height: 1.4211026316;
    font-weight: 600;
    letter-spacing: .012em;
}

.img-ft {
    position: absolute;
    right: 0;
}

.col1 {
    width: 390px;
    height: 850px;
    border-radius: 40px;
    background-color: #fff;
}

.tt-watch {
    padding: 30px 30px 0 30px;
}

.watch {
    font-size: 21px;
    line-height: 1.1904761905;
    font-weight: 600;
    letter-spacing: .011em;
    color: #f63e54;
}

.stream {
    font-size: 19px;
    line-height: 1.4211026316;
    font-weight: 600;
    letter-spacing: .012em;
}

.hi3-col {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.img-watch {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.hd {
    background-image: url(/images/iphone_hardware_vertical__dbbnr1k0ekya_large.png);
    width: 244px;
    height: 512px;
    background-size: 244px 514px;
    background-repeat: no-repeat;
    position: absolute;
    top: -5px;
}

.hd2 {
    background-image: url(/images/iphone_hardware_vertical__dbbnr1k0ekya_large.png);
    width: 244px;
    height: 512px;
    background-size: 244px 514px;
    background-repeat: no-repeat;
    position: absolute;
    top: -5px;
}

.hd3 {
    background-image: url(/images/iphone_hardware_vertical__dbbnr1k0ekya_large.png);
    width: 244px;
    height: 512px;
    background-size: 244px 514px;
    background-repeat: no-repeat;
    position: absolute;
    top: -5px;
}

.scr {
    background-image: url(/images/watch_together__cxu0mh3kwai6_large.jpg);
    width: 237px;
    height: 501px;
    background-size: 236px 501px;
    background-repeat: no-repeat;
    border-radius: 57px;
}

.scr2 {
    background-image: url(/images/listen_together__c0gx0yerw5me_large.jpg);
    width: 237px;
    height: 504px;
    background-size: 236px 501px;
    background-repeat: no-repeat;
    border-radius: 57px;
}

.scr3 {
    background-image: url(/images/share_screen__esashqzqkwa6_large.jpg);
    width: 237px;
    height: 504px;
    background-size: 236px 501px;
    background-repeat: no-repeat;
    border-radius: 57px;
}

.liveText {
    margin-top: 40px;
}

.ct-livetext {
    background-color: #fff;
    height: 800px;
    border-radius: 30px;
    margin-top: 30px;
}

.textct {
    font-size: 56px;
    line-height: 1.0714285714;
    font-weight: 600;
    letter-spacing: -0.005em;
    color: #3d44c3;
}

.ct-text {
    font-size: 21px;
    line-height: 1.1904761905;
    font-weight: 600;
    letter-spacing: .011em;
    color: #3d44c3;
}
.footer-wrapper {
    margin-top: 0;
}

.imgtext {
    background-image: url(/images/apps__fyuinw10plui_large.jpg);
    width: 1184px;
    height: 625px;
    background-size: 1184px 682px;
    background-repeat: no-repeat;
    margin-top: 40px;
}

.dt-bd-text {
    font-size: 19px;
    line-height: 1.4211026316;
    font-weight: 600;
    letter-spacing: .012em;
}

.ct-livetext {
    padding: 30px;
}